{% extends 'base.html.twig' %}

{% block content %}
             <!-- Page Header -->
    <header class="masthead" style="background-image:url(' {{ asset('img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Connexion / Inscription</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
      
      <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <center>
                    
                Vous êtes connecté en tant que {{ app.user.username }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    Deconnexion
                </a>
                </center>
                    <br>
            {% endif %}
        </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    <center>
                    {% if message|trans({}, 'FOSUserBundle') == 'registration.flash.user_created' %}
                     <p>Inscription effectuée</p>
                    {% else %}
                    {{ message|trans({}, 'FOSUserBundle') }}
                    {% endif %}
                    </center>
                    <br>
                </div>
            {% endfor %}
        {% endfor %}
        
         
  <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        
             </div>
        </div>
  </div>
            
    
{% endblock %}